 h1{
            background-color: rgb(5, 173, 229); 
            color: white;
            text-align: center;
            
        }

P{
    background-color: plum;
}
body{
    background-color: aquamarine;
}
/* selector{
    property:value;
} */

.bg-red-h1{
    background-color: red;
}
.bg-blue-h1{
    background-color: blue;
}

#pg-background{
    background-color:blueviolet;
}