 h1{
            background-color: rgb(5, 173, 229); 
            color: white;
            text-align: center;
            
        }

/* P{
    background-color: plum;
} */
body{
    background-image: url(img/sakura.avif);
     background-size:cover; 
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center;
}
/* selector{
    property:value;
} */

.bg-red-h1{
    background-color: red;
    /* padding: 50px; */
    padding: 20px 50px 60px 200px ;
     border-radius: 50px; 
     border-style:solid; 
     margin: 45px;
}
.bg-blue-h1{
    background-color: blue;
    color: white;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    letter-spacing: 5ch;
    text-decoration: underline double;
}

#pg-background{
    background-color:blueviolet;
}
*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
}
#box01{
    width:50px;
    height:50px;
    background-color:green;
    position:static;
    top: 20px;
    left:20px;
    /* left:40px; */
    border-radius: 50%;
    z-index:-1;
}
#box02{
    width:100px;
    height:100px;
    background-color:blue;
    margin-top: 50px;
}


